@using Business.Modules.CategoriesModule.Queries.CategoryGetQuery
@model CategoryGetDto

<div class="card">
    <div class="card-header">
        <h5>
            Detallar səhifəsi
        </h5>
        </br>
        <a asp-controller="Categories" asp-action="Index" class="btn btn-primary mt-3">Geriyə Qayıt</a>
    </div>
    <div class="card-block">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Şəkil</label>
            <div class="col-sm-10">
                <div class="col-sm-4" id="oldPhoto">
                    <label class="control-label oldPhotoLabel col-sm-12">Köhnə şəkil</label>
                    @if (Model.ImageUrl != null)
                    {
                        <img src="~/uploads/images/@Html.DisplayFor(x=>x.ImageUrl)" />
                    }
                    else
                    {
                        <label class="col-sm-12 text-center">Şəkil Mövcud deyil</label>
                    }
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Adı</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Adı" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Aid olduğu kateqoriya</label>
             <label class="col-sm-10 form-control" style="background:#cdcdcd">@Model.ParentName</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Yaradılma tarixi</label>
            <div class="col-sm-10">
                <input asp-for="CreatedAt" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kim tərəfindən yaradılıb</label>
            <div class="col-sm-10">
                <input asp-for="CreatedBy" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Dəyişiklik olunma tarixi</label>
            <div class="col-sm-10">
                <input asp-for="UpdatedAt" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kim tərəfindən dəyişiklik edilib</label>
            <div class="col-sm-10">
                <input asp-for="UpdatedBy" class="form-control" disabled>
            </div>
        </div>
    </div>
</div>
