.pcoded-main-container .card {
    margin-bottom:0px;
}

.card .card-header .btnCreate button {
    margin-top: 15px;
}
.card .card-block .row .label-photo {
    background: #FFBA57;
    padding: 12px 25px;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}
.tableOrganic tbody tr td img {
    z-index: 2;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
.card .card-block .row #oldPhoto {
   padding:15px;
   min-height:280px;
   border:1px solid #d9682673;
   border-radius:20px;
   margin-top:10px;
}
    .card .card-block .row #oldPhoto .oldPhotoLabel {
        padding: 8px;
        border-radius: 5px;
        background: #ABC2E4;
        color:#fff;
        text-align:center;
    }
    .card .card-block .row #oldPhoto img {
        margin-top:20px;
        z-index: 2;
        height: 300px;
        width: 100%;
        object-fit: contain;
    }
    .card .card-block .row {
       margin-right:0px;
    }
